<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<script src="lib/angular/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<style>
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.jumbotron {
			width: 400px;			
			text-align: center;
			margin-top: 20px;			
			margin-left: auto;
			margin-right: auto;
		}
		.form-control {
			margin-bottom: 5px;
		}
	</style>
	<script>
		angular.module("listaTelefonica",[]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: 111111111, cor: "yellow"},
				{nome: "Ana", telefone: 222222222, cor: "blue"},
				{nome: "Maria", telefone: 333333333, cor: "red"}
			];
			$scope.operadoras =[
				{nome:"Vivo", codigo: 11, tipo: "Celular"},
				{nome:"Oi", codigo: 12, tipo: "Celular"},
				{nome:"Claro", codigo: 13, tipo: "Celular"},
				{nome:"Embratel", codigo: 21, tipo: "Fixo"}
			];
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if (!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function (contato) {
					return contato.selecionado;
				});
			};			
		});
	</script>
</head>
<body>
	<div ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<h4>{{app}}</h4>
			<table class="table" ng-show="contatos.length > 0">
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Operadora</th>
					<th></th>
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado" /></td>
					<td>{{contato.nome}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>										
					<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
				</tr>
			</table>
			<hr>	
			<form name="contatoForm">
				<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true"/>
				<input class="form-control" type="text" ng-model="contato.telefone" name="telefone"placeholder="Telefone" ng-required="true"/>			
				<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
					<option value="">Selecione uma operadora</option>
				</select>
				<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato)">Adicionar Contato</button>
				<button class="btn btn-danger btn-block" ng-disabled="!isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)">Apagar Contatos</button>
			</form>
			<div ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger">
				Por favor, preencha o nome!
			</div>
			<div ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">
				Por favor, preencha o telefone!
			</div>
		</div>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>